#!/bin/bash

"PROJECT_DIR": "$PWD",
"RUSTUP_HOME": "$PROJECT_DIR/.rustup",
"LIBRARY_PATH": "$LIBRARY_PATH:$PROJECT_DIR/nix/profile/default/lib"

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details
